CONSUMER_KEY    = '********* USE YOUR OWN KEY *********'
CONSUMER_SECRET = '********* USE YOUR OWN KEY *********'
ACCESS_KEY      = '********* USE YOUR OWN KEY *********'
ACCESS_SECRET   = '********* USE YOUR OWN KEY *********'
